/*******************************
 * AUTHOR: Jessica May
 * DATE: June 27, 2017
 * COURSE: CS 290
 * ASSIGNMENT: HTML/CSS
 ******************************/

table {
    text-align: center;
    border: 1px solid black;
    table-layout: fixed;
    width: 50%;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

tfoot {
    text-align: left;
}

tr:nth-of-type(2n) {
    background: cornsilk;
}

tr:nth-of-type(2n+3) {
    background: lavender;
}

ul {
    padding-bottom: 20px;
}

#outer-content {
    align-content: left;
    background-color: pink;
    text-align: center;
    width: 75%;   
    padding: 1px;
}

#inner-content {
    background-color: lightblue;
    width: 75%;
    margin: auto;
}
